body{
font-size:14px;
}
:root {
    --color-1: #00bffe;
    --color-2: #00bffe;
    --color-3: #00bffe;
    --color-4: transparent;
    --color-5: #4562b0;
    --color-6: rgb(246,79,89);
    --color-7: rgb(196,113,237);
    --color-8: rgb(18,194,233);

}

.menu .bar.bar-header.expanded {
transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
background-color: #222;
}
.logo{
width:260px;
}
.menu h2 {
bottom: 0;
font-size: 18px;
left: 16px;
position: absolute;
}

.menu .avatar {
height: 88px;
width: 88px;
}
.upper{
text-transform: uppercase;
}
.header-item{
top:0;
}
.bar.bar-footer{
  background: var(--color-4);
  bottom: 0!important;
  box-shadow:none;
}
.heading_2{
  font-size:15px;
  color:rgb(1, 52, 107);
  text-transform: capitalize;
}
.select_posititon{
position: absolute;
font-size: 12px;
right: 19%;
color: #3875ba;
}
.letter_icon_left{
  position: absolute;
left: 5%;
width: 40px;
height: 40px;
text-shadow: 1px 1px 1px #1d1d1d;
/* background: red; */
text-align: center;
border-radius: 50px;
font-size: 27px;
font-weight: bold;
text-transform: capitalize;
line-height: 1.5;
color:#fff;
}
.toggle.toggle_small .track{
  width: 37px;
height: 11px;
}
.toggle.toggle_small .handle{
  width: 20px;
height: 20px;
border-radius: 20px;
top: 3px;
left: 3px;
}
.button.button_small_right{
  width:100px;
  min-width:100px;
  height:25px;
  min-height:30px;
position: absolute;
right:10px;
padding: 0;
float: right;
color:#fff;
background: var(--color-5);
}
.padding-top12{
  padding-top:10px;
}
.button.button_small_left{
  width:100px;
  min-width:100px;
  height:25px;
  min-height:30px;
position: absolute;
left:10px;
padding: 0;
margin-top:5px;
float: left;
color:#fff;
background: var(--color-8);
}
.customheader{
background-color: #fff;
}
.upper span{
font-size: 13px;
}
.menu.menu-left * {
font-weight: bold;
}
.menu-open .ion-navicon {
transform: rotate(-360deg);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
content: "\f2ca";
}
.chat-item.ng-enter {
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s;
}
.item-checkbox {
    padding-left: 0;
}
.button.button-positive {
border-color: transparent;
background-color: #11c1f3;
color: #fff;
}
.chat-item.ng-enter-stagger {
-webkit-animation-delay:200ms;
animation-delay:200ms;
/* override to make sure it's not inherited from other styles */
-webkit-animation-duration:0;
animation-duration:0;
}/* Empty. Add your own CSS if you like */
.link {
color: #116262;
font-weight: bold;
}
h4 {
color: #000;
font-size: 22px;
margin-bottom: 16px;
}
.slogo{
position: absolute;
/* top: 43px; */
    /* top: 80px; */
top: 50px;
left: 0;
right: 0;
width: 260px;
height: 150px;
margin-left: auto;
margin-right: auto;
    z-index: 1;
}
.slogo img{
max-height:100%;
max-width: 100%;

filter: drop-shadow(1px 1px 1px var(--color-1));
}
.lineclamp{
  overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
  -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    max-height:50px;
}
.attendance.item{
  border: var(--color-4)
}
.light-bg{
background: rgba(255,255,255,0.8);
border-radius: 5px;
}
.modal ion-header-bar{
	background-color: #fff !important;
}
.modal ion-header-bar i{
	color:#000 !important;
}
.button{
  border-radius: 4px;
}
.background-color-2{
background: rgba(255,255,255,0) !important;
}
.go{
background-color: var(--color-5);
border: 1px solid  var(--color-4);
text-align: center;
font-weight: 500;
color: #fff !important;
font-size: 12px !important;
z-index: 999;
}
.popover-open {
    pointer-events: auto !important;
}
 .button.activated.go {border: 1px solid  var(--color-5);
   background-color: var(--color-5)!important;
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0), 0 2px 10px 0 rgba(0,0,0,0);
}
.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
width:100%;
}
.color{
color:#01346b;
margin-left: 38px;
}
.title-bordered {
border-top: solid 2px #bbb;
padding-top: 30px;
}
p {
color: #555;
margin: 0 0 25px;
}
.no-border {
border: none;
}
.static {
position: static;
}
.bold {
font-weight: bold;
}
.border-top {
border-top: 1px solid rgba(140,138,236,0.2);
padding-top: 30px;
}
.blue-grey-900 {
background-color: #263238 !important;
color: #fff;
}
/* Menu */
.bg-color{
background-color: none;
}
ion-side-menu{
background-image: url('../img/bg.jpg');
background-size:cover;
background-position: 0% 100%;
}
ion-option-button{background-color: #52565d !important;}
.menu .bar.bar-header.expanded {
border-bottom: 1px solid #B1B1B1;
transition: all .5s ease-in-out;
background: transparent;
}
.menu.menu-left * {
font-weight: 500;
}
.item-radio input:checked ~ .item-content {
background: transparent;
}
.menu-open .ion-navicon {
transform: rotate(-360deg);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.menu-open .ion-navicon:before {
content: "\f2ca";
}
.item.item-radio .radio-icon {
opacity: 1;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.item.item-radio:active .radio-icon {
opacity: 0;
transform: scale(1.6);
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.directions.button-bar {
margin: 0 auto;
width: 33.333%;
}
.directions.button-bar button {
line-height: 26px;
}
.ion-arrow-right-c.top-left:before {
transform: rotate(-135deg);
}
.ion-arrow-right-c.top-right:before {
transform: rotate(-45deg);
}
.ion-arrow-right-c.bottom-left:before {
transform: rotate(-225deg);
}
.ion-arrow-right-c.bottom-right:before {
transform: rotate(45deg);
}
.card > .item-avatar, .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
padding-left: 72px;
}
.item-icon-right .icon-accessory {
right: 3px;
}
.item-divider{
background-color: #F8F8F8;
}
#modal {
background-color: #ef4e3a;
border-radius: 100%;
box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
position: fixed;
height: 50%;
bottom: 0;
opacity: 0;
width: 700px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.expand #modal {
background-color: #DBDBDB;
border-radius: 0;
border-top: solid 4px #ef4e3a;
opacity: 1;
z-index: 9;
}
/* CODE */
.code {
color: #333;
font-family: monospace;
padding: 10px;
white-space: pre;
}
.code-wrapper {
padding-bottom: 30px;
padding-top: 15px;
}
.code-wrapper::before {
color: #1B5E20;
font-family: "Ionicons";
speak: none;
font-size: 18px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
text-rendering: auto;
line-height: 1;
-webkit-font-smoothing: antialiased;
content: '\f216 ';
}
.code-wrapper.active::before {
content: '\f207 ';
}
.code-wrapper .toggle {
color: #4CAF50;
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: bold;
padding: 10px 8px;
text-decoration: underline;
}
.code-wrapper .code {
opacity: 0;
margin-top: -20px;
height: 0;
overflow: hidden;
position: absolute;
transition: 0.1s all ease-in-out;
z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
position: relative;
}
.code-wrapper.active .code {
background: #f9f9f9;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
left: 16px;
height: initial;
margin-top: 15px;
padding: 15px;
right: 16px;
opacity: 1;
transition: 0.3s all ease-in-out;
width: initial;
}
.platform-android .popover{
margin-top:10px;
}
.stud-img{
border-radius: 1px;
left: 16px;
max-height: 60px;
max-width: 60px;
top: 4px;
}
.stud-img1{
border-radius: 50%;
max-height: 45px;
max-width: 45px;
height: 45px;
width: 45px;
padding:2px;
float: left;
}
.user{
color:#4562b0;
position: relative;
top: -1px;
letter-spacing: 1px;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.avatar, .item-avatar .avatar {
background-position: center center;
background-size: cover;
border-radius: none !important;
display: inline-block;
height: 56px;
left: 16px;
position: absolute;
width: 188px;
top: 14px;
}
.menu .bar.bar-header.expanded {
box-shadow: none;
min-height: 125px;
color: #FFF;
}
.has-expanded-header {
top: 126px !important;
}
.menu .avatar {
height: auto;
width: 242px;
}
ion-side-menu .avatar img{
height: 96px;
max-width: 242px;
vertical-align:middle;
}
.white-txt{
color:#fff !important;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #f64747, 0 0 2px #f64747, 0 0 3px #f64747, 0 0 4px #f64747, 0 0 5px #f64747, 0 0 6px #f64747, 0 0 7px #f64747;
    color:#fff;
  }
  to {
    text-shadow: 0 0 2px var(--color-4), 0 0 3px var(--color-4), 0 0 4px var(--color-4), 0 0 5px var(--color-4), 0 0 6px var(--color-4), 0 0 7px var(--color-4), 0 0 8px var(--color-4);
    color:#f64747;
  }
}
@-webkit-keyframes glow2 {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: none;
  }
}
@-webkit-keyframes glow3 {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: none;
  }
}
.color-red{
color:#f64747;
font-weight: 900;
text-transform: capitalize;
}
.color-red-blink{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
color:#f64747;
text-transform: capitalize;
}
.color-blue{
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
 -moz-animation: glow2 1s ease-in-out infinite alternate;
 animation: glow2 1s ease-in-out infinite alternate;
color:#304ffe;
font-weight: bold;
text-transform: capitalize;
}
.color-green{
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
 -moz-animation: glow3 1s ease-in-out infinite alternate;
 animation: glow3 1s ease-in-out infinite alternate;
color: #009e06;
font-weight: bold;
text-transform: capitalize;
}
.color-green:after{
  content: "\f3fe";
font-family: "Ionicons";
font-size: 14px;
padding-left: 5px;
}
.calendar_highlight{
  position: relative;
  top:0;
  /* display:inline-block; */
}
.calendar_highlight:after {
    content:'';
    position:absolute;
    top:-30px; bottom:-10px;
    left:-10px; right:-10px;
}
.event_highlight{
  background: red;
  width:13px;
  height:13px;
  color:#ffffff;
  border-radius:50px;
  position: absolute;
  top:-26px;
  right: -7px;
  font-size:.7em;
  text-transform: capitalize;
}
.holiday_highlight{
  background: green;
  width:13px;
  height:13px;
  color:#ffffff;
  border-radius:50px;
  position: absolute;
  top:-10px;

    right: -7px;
    font-size:.7em;
    text-transform: capitalize;

}
.daytype_main{
  position:relative;
  margin:0;
  border-width: 0px;
}
.show_daytype_event{
    position:absolute;
    border-radius: 0px;

      background: red;
    top:0;
    padding: 2px;
    right:0;
    color:#fff;
    text-transform: capitalize;
    font-size:.9em;
    border-bottom-left-radius: 5px;

}
.show_daytype_holiday{
    position:absolute;
    border-radius: 0px;

      background: green;
    top:0;
    padding: 2px;
    right:0;
    color:#fff;
    text-transform: capitalize;
    font-size:.9em;
    border-bottom-left-radius: 5px;

}
.nbor {
border:0;
}
.myForm{ max-width:350px;margin-left: auto;margin-right: auto;}
.slider-slide h3{
color: #000;
}
.scroll{
height:100%;
}
.tabbed-slidebox .tsb-icons:after{
display:none;
}
.center{
text-align: center;
margin-right: auto;
margin-left: auto;
}
.hwcount{
background-color: red;
border-radius: 50%;
color: #fff;
font-size: 11px;
font-weight: 500;
width:20px;
height:20px;
left: 38px;
text-align: center;
position: absolute;
letter-spacing: 0px;
top: 3px;
}
.lrcount{
background-color: #f00;
border-radius: 50%;
color: #fff;
font-size: 11px;
letter-spacing: 0px;
font-weight: 500;
width: 19px;
height: 19px;
text-align: center;
position: absolute;
left: 31px;
top: 1px;
Z-index: 3;
margin-bottom: 0;
}
.readed .mydiv{
opacity: .2;
}
.popover {
height: 340px;
width: 290px;
}
.tsb-ic-wrp .scroll-view.scroll-x {
overflow: hidden;
}
.pane, .view {
top: unset;
right: 0;
bottom: unset;
left: 0;
background-color: #fff;
}
.tabs-striped .tabs {
box-shadow: 0 0px 4px 0 rgba(0,0,0,.26);
}
.sub{
text-decoration: none !important;
color:#000;
border:none;
font-size: 12px;
margin-left: 52px;
overflow: hidden;
text-overflow: ellipsis;
}
.font13{
font-size: 11px;
}
.font14{
font-size: 13px;
}
.about{
text-align: justify;
}
.padding-b{
padding: 10px 0px;
}
.login .button.button-royal.button-outline {
border-color: rgb(255, 255, 255) !important;
background: rgba(255, 255, 255, 0);
color: #000;
padding-left: 25px;
padding-right: 25px;
}
.login{
  background: var(--color-4)!important;
}
input::placeholder { color:  #999;}
.login ::-webkit-input-placeholder { color: #000; font-weight:700; letter-spacing: 1px;}
/* Firefox < 19 */
.login :-moz-placeholder { color: #000;font-weight:700;letter-spacing: 1px; }
/* Firefox > 19 */
.login ::-moz-placeholder { color: #000; font-weight:700;letter-spacing: 1px;}
/* Internet Explorer 10 */
.login :-ms-input-placeholder { color: #000;font-weight:700; letter-spacing: 1px;}
.login input{
color: #000;font-weight:600;background-color: RGBA(255, 255, 255, 0.36);
padding: 0 7px;
margin: 0px auto;
}
}
.login .item-floating-label, .list .item.item-floating-label {
border-bottom: solid 0px RGBA(0, 0, 0, 0);
}
.item-floating-label, .list .item.item-floating-label {
border-bottom: none;
}
.login .input-label{
font-weight:600;
letter-spacing: 1px;
margin-bottom: 4px;
color: #fff;

}
.forgot{
	font-size: 13px;
	color:#fff;
	text-decoration: underline;
}
.foot{
margin-top: 20px;
text-align: center;color: #fff !important; padding-bottom: 10px;font-size:11px;}
.foot a{color: #fff !important;}
.menu .icon{font-size: 23px;}
.menu .item-content{border-bottom: 1px solid #B1B1B1;color: #000;}

.list .item.item-accordion {
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
display: block !important;
}
.item-expand {
position: relative;
width: 100%;
max-height: 60px;
transition: max-height 0.1s ease-out;
overflow: hidden;
}

.item-expand.inactive:after {
content: "";
position: absolute;
bottom: 0px;
left: 0;
height: 15px;
width: 100%;
display: block;
background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, rgba(255, 255, 255, 0)),
color-stop(1, rgba(255, 255, 255, 1))
);
background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
.tabbed-slidebox .tsb-icons {
border:none;
}
.tsb-ic-wrp .active{
color:red;
}
.button-bar .item{padding-top: 3px;}
.backdrop {
background-color: rgba(0, 0, 0, 0.45);
}
.loading-container .loading {
background-color: rgba(0, 0, 0, 0);
}
.item-expand.active {
max-height: 200px;
transition: max-height 0.3s ease-out;
}
ion-spinner  svg {
  width: 48px!important;
  height: 48px!important;
  stroke: var(--color-1);
  fill: var(--color-3);
}
.scroll-view.scroll-x {
overflow-x: inherit;
box-shadow: 1px 2px 40px -10px #b3b3b3;
}
.slider {
height: 100%;
}
.item.active{
background-color: #f5f5f5;
border-bottom: 2px solid #b3b3b3;
font-weight: 700;
color:#000;
letter-spacing: 0.321px;
}
.list .item.item-accordion {
background-color: #f5f5f5;
}
.slider-slides{
display: flex;
flex-direction: row;
}
.tabs {
position:relative;
border: 0px solid #fff!important;
}
.tabs-top > .tabs, .tabs.tabs-top {
top:0px;
position: relative;}

.tab-item{margin-top: -1px;
background: rgb(255, 255, 0);
opacity: 1;
margin-right: 1px;
}
.tab-item:last-child{
  margin-right: 0px;
}
.tab-item.activated {
    height: calc(100%);
}
.tab-item.active, .tab-item.activated{opacity: 1;
border: 0px solid #fff!important;
transition: 0.3s transform linear;
}
.tab-item.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: url(../img/hands-01.png) 0 0 no-repeat;
  background-size: 100%;transition: 0.3s transform linear;
}
.tab-item::before.active{
  content: '';
  position: absolute;top:0;
    border-top: 2px solid #4B14C9 ;
}

.tab_animation .ng-enter {
  -webkit-animation: fadeOut 0.3s linear;
  -webkit-animation-fill-mode: both;
  display: none;
}

.tab_animation .ng-enter.ng-enter-active {
  -webkit-animation: fadeIn 0.3s linear;
  -webkit-animation-fill-mode: both;
  display: block;
}

.tab_animation .ng-leave {
  -webkit-animation: fadeIn 0.3s linear;
  -webkit-animation-fill-mode: both;
  display: block;
}
.tab_animation .ng-leave.ng-leave-active {
  -webkit-animation: fadeOut 0.3s linear;
  -webkit-animation-fill-mode: both;
  display: none;
}
.event-detail-container {
    border-top: none;
    padding-top: 10px;
}
.italic{
font-style: italic;
word-break: break-word;
}
.bold{
font-weight: 600;
}
ion-slide h4{
border-top: none;
padding: 10px 0px 0px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 13px;
font-weight: 700;
color: #006ac5;
}
tsb-ic-wrp .active
{
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 100px 100px;
border-color: transparent transparent #A4009A transparent;
}
.input-label{
font-weight:700;
}
.myitem{
padding:2px 10px;
}
.slidingTabs ul {
background-color: #ffffff;
}
.slidingTabs ul li.tab-active {
color: #005bad;
}
.button.button-calm {
background-color: #005bad;
}
.slidingTabs ul li {
color: #000;
font-size: 12px;
}
.slidingTabs .tab-indicator-wrapper .tab-indicator {
background-color: #005bad;
}
.student{
position: absolute;
top: 0;
left: 0;
right: 0;
}
ion-slide {
background-color: #ffffff;
}
.grey{
background-color:#ABABAB  !important;
color:#fff;
}
.pane .view{
background-image: url("img/bg1.png");
background-position: cover;
background-position: 0% 100%;
}

.hero.no-header {
height: 36%;
}
.col40{width:40%;}
.col20{width:20%;}

.logo{text-align:center;margin-left: auto;margin-right:auto;filter: drop-shadow(1px 1px 1px var(--color-));}
.logo img{padding-top: 10%;padding-bottom: 2%;}
.blocks{
display: inline-block;
}
.ion-ripple {
background-color:var(--color-1);
}
.date{
padding: 12px;
width:75%;
}
.item-input {
padding:0px;
}
.input-label {padding:12px;}
.bar-legend li{
display: block;
position: relative;
right: 0px;
padding: 10px;
margin-bottom: 7px;
}

.bar-legend li span{
border-radius: 0px;
padding-left: 20px;
box-shadow: 0px 1px 1px 1px #d8d8d8;
text-indent: 9px;
}
.slidingTabs ul li .ink {
background: #d0d0d0;
}
.button-bar .item{text-align: center;}
.bar.bar-header{
position: absolute;
top:0 !important;
border-color: #0a9dc7;
background-color: transparent!important;
background-image:none;
color: #fff;
background-size: auto;
background-repeat: no-repeat;
box-shadow:none;
overflow: hidden;
margin-top: -1px;
}
ion-view{

}
.gradient-border {
  --borderWidth: 1px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
  var(--color-6),
    var(--color-7),
    var(--color-8)
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.modal-wrapper .modal ion-header-bar {
      background: var(--color-4)!important;    margin: 0;

    }
.modal-wrapper .bar-header .title{
  color: var(--color-1);
    font-family:"Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    left:0!important;
    background: rgba(255,255,255,0.7)!important;
    margin: 0;

  }
  .modal-wrapper .modal{
    background: -webkit-linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
ion-view.pane, .menu{

  background: #00c9ff;
}
ion-content { height: auto !important; }
ion-content,ion-header-bar{
    background: rgba(255,255,255,0.4)!important;
}
.popover-wrapper .popover{
  background: -webkit-linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.popover-wrapper  .bar .title{
  color: #000;
}
.platform-android .popover .item,.platform-ios .popover .item {
    border-right: none;
  border-bottom: 1px solid;
  border-color:rgba(140,138,236,0.07);

  border-radius: 0;
    background: transparent!important;
  }
.background-transparent{
  background: transparent!important;
}

.popover-wrapper  .scroll-content{z-index: 0;
  background: rgba(255,255,255,0.7)!important;
    margin: 0px!important;
    border-radius: 10px;
}
.box {
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: -50%;
  left: 50%;
  background: -webkit-linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: .1;
  background: #d74959;
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.parent{
position: absolute;
left: 0;
right:0;
bottom: 0;
text-align: center;
font-size: 22px;
color:#d74959;
font-weight:400;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1111;
}
.parent h4{text-align: right;}
.faculty{
  position: absolute;
  left: 0;
  right:0;
  bottom: -10px;
  text-align: left;
  font-weight:400;
  overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 1111;
}
.faculty .heading_name{
  font-size: 1.2rem;
    color:#d74959;
}
.faculty .user{
  padding-top: 7px;
}
.faculty_page .bar-subheader{
  height:260px;
}
.faculty_page .has-subheader{
      top: 270px !important;
}
.bar-subheader{
background-color: #fff;
top: 0px !important;
height: 240px;
}
.studentimg{
position: absolute;
left: 0;
right:0;
bottom: 0;
top:0;
color: #000;
}
.studentimg img{
background-color: rgba(255,255,255,0.9);
border-radius:50%;
width:100px;
height:100px;
padding: 4px;
margin-top: 80px;
box-shadow: 0px 0px 12px -3px #4a4949;
}
.studentimg h2{
position: absolute;
left:0;
right:0;
bottom: 10px;
margin-bottom: 8px;
color:#4562b0;
font-weight: 700;
}
.input-block{
	width: 30px;
	display: inline-block !important;
	padding-left:10px !important;
	margin:20px 10px !important;
}

.studentimg  span{
font-size: 15px;
}
.item-input-inset {
padding: 7px 12px;
}
.item-input-wrapper{
height:33px;
}
.has-subheader {
	position: absolute;
top: 240px !important;
left:0 !important;
right:0 !important;
bottom:0;
background-color: transparent!important;
}
.scroll_y{
overflow-y:scroll !important;
}
.scroll ion-list{
margin-bottom: 15px;
}
.input-label {
font-size: 14px;
}
.formly-field .item-input input, .item-input textarea {
width: 100%;
padding-left: 14px;
}

.mb{
margin-bottom: 2px;
}
.submission{
text-align: right;
font-size: 12px;
position: absolute;
right:10px;
bottom: 7px;
}
.submission1{
font-size: 12px;
position: relative;
bottom: -5px;
float: right;
}
.card1:last-child{
margin-bottom: 15px;
}
.a-title{float: left;font-size: 14.5px;}
.a-content{float:left;}
.button-bar{
background-image: -webkit-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-7) 3px);
background-image: -moz-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-7) 3px);
background-image: -ms-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-7) 3px);
background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-7) 3px);
-webkit-background-size: 3px 3px;
-moz-background-size: 3px 3px;
background-size: 3px 3px;
}
.popover-backdrop.active:
.status {
font-size: 12px;
padding-top: 2px;
background-image: -webkit-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-2) 3px);
background-image: -moz-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-2) 3px);
background-image: -ms-repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-2) 3px);
background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 2px, var(--color-2) 3px);
-webkit-background-size: 3px 3px;
-moz-background-size: 3px 3px;
background-size: 3px 3px;
}
.border .item{
border:1px solid #e4e4e4;
}
.button-bar > .button:only-child {
padding-top: 2px;
}
.border .item p{padding-right: 10px;}
#tryme {
position: relative;
left:0;
right:0;
top:10px;
text-align: center;
color:#01033c;
-webkit-animation: tryme 7s ease-out infinite;
animation: tryme 7s ease-out infinite;
}
@-webkit-keyframes tryme {
0%,
100% {
-webkit-transform: translateX(0);
}
10%,
30%,
50%,
70%,
90% {
-webkit-transform: translateX(-4px);
}
20%,
40%,
60%,
80% {
-webkit-transform: translateX(4px);
}
}
@keyframes tryme {
0%,
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
10%,
30%,
50%,
70%,
90% {
-webkit-transform: translateX(-4px);
transform: translateX(-4px);
}
20%,
40%,
60%,
80% {
-webkit-transform: translateX(4px);
transform: translateX(4px);
}
}
ion-side-menu .avatar{border-radius: 0px;}
.table-fixed{width: 100%;}
.col15{width:17%;}
.col70{width:63%;}
.noshadow{box-shadow: none;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 1px solid rgba(209,101,186,0.5);
}
.monthview-selected {
    background-color: #d165ba;
    color: #fff;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
}
table {
border-collapse: collapse;
max-width: 100%;
background-color: transparent;
}
.text-muted {
color: #999;
}
.calendar-navbar {
margin-bottom: 0px;
margin-top: 5px;
}
hr.style-two {
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.card2 {
display: block;
margin: 8px;
padding: 0;
position: relative;
background-color: #ffffff;
border-radius: 5px;
}
.card2 .submission{
position: relative;
right: 5px;
bottom: 0px;
}
.card2 p{
	margin: 0px;
}
.card1{
  background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));
  border-radius: 5px;
display: block;
margin: 8px;
padding: 0;
position: relative;
}
.card1 .item-body {
  background:rgba(255,255,255,0.9);
padding: 10px 10px 37px;
border-radius: 5px;
-webkit-box-shadow: 5px 7px 10px 0px rgba(140, 140, 140, 0.22);
    -moz-box-shadow: 5px 7px 10px 0px rgba(140, 140, 140, 0.22);
    box-shadow: 5px 7px 10px 0px rgba(140, 140, 140, 0.22);
    margin: 0;
}
.am-slide-top{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}
.am-slide-top.am-slide-top-add,.am-slide-top.ng-hide-remove,.am-slide-top.ng-move{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.am-slide-top.am-slide-top-remove,.am-slide-top.ng-hide{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.am-slide-top.ng-enter{visibility:hidden;-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-play-state:paused;animation-play-state:paused}
.am-slide-top.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}
.am-slide-top.ng-leave{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-play-state:paused;animation-play-state:paused}
.am-slide-top.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}
.card2 .item-body {
padding: 10px 10px;
border-radius: 5px;
}
.pl2{
	padding-left: 2px !important;
}
.platform-android .popover-arrow::after,.platform-ios .popover-arrow::after  {
  background: -webkit-linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 3px;
content: "";
height: 20px;
left: 5px;
position: absolute;
top: 12px;
transform: rotate(-45deg);
width: 20px;
}
.platform-android .popover-arrow::before,.platform-ios .popover-arrow::before {
  border-radius: 3px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  top: 12px;
  transform: rotate(-45deg);
  width: 20px;
  background: rgba(255,255,255,0.7);
  z-index: 1;
}
.platform-android .popover .bar-header {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.platform-android .popover {
border-radius: 10px;
}
.title-left, .title-right, .title.title-left, .title.title-right {
display: block;
font-size: 17px;
font-weight: 500;
height: 43px;
left: 0;
}
.platform-android .bar .title {
text-align: center !important;
font-size: 17px;
line-height: 44px;
}
.platform-android .popover-arrow {
display: block !important;
height: 19px;
overflow: hidden;
position: absolute;
top: -17px;
width: 30px;
left: 243px;
}
.platform-ios .popover{
  top:10px;
}
.platform-ios .popover .scroll-content{
border-radius: 10px;
}
.custom-height{
  height:8vh;
}
.clearvalue{
position: absolute;
right: 15px;
top: 28px;
font-size: 22px;
padding: 7px;
z-index: 20;
color: #565656;
}
.viewvalue{
position: absolute;
right: 11px;
top: 90px;
font-size: 22px;
padding: 7px;
z-index: 20;
color: #565656;
}
.ion-alert{
font-size: 13px;
padding-right: 4px;
font-weight: 100;
}
.bgwhite .item-content {
background-color: #fff ;
border-bottom: 1px solid #efefef;
border-top: 1px solid #efefef;
}
.button-positive.activated, .button-positive:active, .button-positive:hover{background-color: #eee;}
.file i{
font-size: 35px;
color: #6b6161;
}
.file {
position: absolute;
float:left;
margin-bottom: -4px;
z-index: 99;
margin-left: 13px;
}
.file a{
color:#ccc;
text-transform: uppercase;
text-decoration: none;
}
.file span{
color:#fff;
font-size: 9px;
font-weight: 900;
border-radius: 2px;
padding: 2px 1px 2px;
position: relative;
left: -10px;
bottom: 5px;
}
.file1 i{
font-size: 35px;
color: #6b6161;
}
.file1 {
margin-bottom: -4px;
z-index: 99;
}
.file1 a{
color:#ccc;
text-transform: uppercase;
text-decoration: none;
}
.file1 span{
color:#fff;
font-size: 9px;
font-weight: 900;
border-radius: 2px;
padding: 0px 2px;
position: relative;
bottom: 5px;
}
.file1 span.first{
left: -10px;
}
ion-content,ion-slide,ion-scroll{
background-color: #F6F8FB ;
}
.no-event-label{
text-align: center;
color: #a9a9a9;
background: rgba(255,255,255,0.8);
border-radius: 5px;
padding: 16px;
-webkit-box-shadow: 5px 7px 10px 0px rgba(140, 140, 140, 0.22);
-moz-box-shadow:5px 7px 10px 0px rgba(140, 140, 140, 0.22);
box-shadow: 5px 7px 10px 0px rgba(140, 140, 140, 0.22);
}
}
.calendar-header {
padding-top: 8px;
text-align: center;
}
.pdf{
background-color: #E23634;
}
.docx{
background-color: #2A5696;
}
.submission1 {
text-align: right;
font-size: 12px;
float: right;
position: absolute;
right: 12px;
bottom: 7px;
}
.popover .item-body {
overflow: auto;
padding: 9px;
}
.dates{
color: #908f8f;
}
.dates i{padding: 0 4px 0 0;}
.from{
border: 1px solid #9E9E9E;
margin-right: 4px;
padding: 0px 3px;
font-size: 11px;
}
.detailTitle{
font-size:12px;
height: 48px;
line-height: 48px;
text-align: center;
box-shadow: 1px 2px 40px -10px #b3b3b3;
margin: 0;
padding: 0 12px 20px;
}
.stud-img2{
max-width: 100px;
text-align: center;
}
.detail p{
margin:0 0  10px;
}
.indent{
text-indent: 50px;
}
.ico{
width: 45px;
height: 45px;
float: left;
text-align: center;
padding-top: 10px;
}
.ico1{
height:100px;
}
.ico1{
height: 100px;
margin-top: 43px;
padding: 4px;
width: 100px;
margin-left: auto;
margin-right: auto;
background-color:  #fff;
border-radius:50%;
background-repeat: no-repeat;
background-size: 111px 110px;
background-position: center;
box-shadow: 0px 0px 12px -3px #4a4949;
}
.ico{
background-color:  transparent; background-size: 45px 45px;background-repeat: no-repeat;
}
.ico::before{
content: "\f35b";
font-family: "Ionicons";
font-size: 5vh;
text-align: center;
color:var(--color-5);
}
.AR.ico1{background-image:url('../img/article.png'); }
.AR.ico{background-image:url('../img/article.png');}
.AL.ico1{background-image:url('../img/album.png'); }
.AL.ico{background-image:url('../img/album.png'); }
.clear{padding: 5px;margin:0;}
.show{display:block; }
.hidden{display: none;}
.bor p {
margin: 0 0 4px;
}
.bar.bar-calm .title {
font-size: 15px;
}

.mandatory{
color:red;
}
.bgheader{

position: absolute;top:0;left:0;right:0;
z-index: 111;
height: 200px;
}
.blurbg{
background: var(--color-3);  /* fallback for old browsers */
background: -webkit-linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(320deg, var(--color-1), var(--color-2), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fee .item, .leave .item{
  border:none;
}
.fee .ng-hide-add {
  -webkit-animation: fadeIn 0.3s linear;
	-webkit-animation-fill-mode: both;
}
.fee .ng-hide-add-active {
  -webkit-animation: fadeOut 0.3s linear;
  -webkit-animation-fill-mode: both;
}
.fee .ng-hide-remove {
  -webkit-animation: fadeOut 0.3s linear;
  -webkit-animation-fill-mode: both;
}
.fee .ng-hide-remove-active {
  -webkit-animation: fadeIn 0.3s linear;
  -webkit-animation-fill-mode: both;
}
.calendar .table thead{
  background:var(--color-4);
}
.calendar .calendar-navbar .nav-left button, .calendar .calendar-navbar .nav-right button{
    background: var(--color-4);
}
.calendar .table th small{
  font-weight: bold;
}
.bar .button.button-clear {
color: #fff;
text-shadow: 1px 1px 1px var(--color-1);
}
.kidicon{
background-color: #0669ea;
}
.annicon{
background-color: #1FA71C;
}
.calicon{
background-color: red;
position: absolute;
padding: 5px 7px !important;
top: 7px;
left: -39px;
}
.cicon{
border-radius: 50%;
padding: 1px 6px;
margin-right: 10px;
font-size: 18px;
color: #fff;
}
.mleft{
margin-left: 50px !important;
}
.calendar-event-inner, .monthview-primary-with-event {
background-color: #fff;
color: #d8a6e3;
font-weight: 900;
}
.smallpop {
width: 310px;
height: 215px;
}
.smallpop .scroll-content {
z-index: 1;
margin: 9px 0;
}
.item-icon-left .icon-accessory, .item-icon-right .icon-accessory {
color: #0057ac;
font-size: 14px;
}
.popover .list{
border-radius: 10px;
background-color: transparent !important;
}
.smallpop .item{
border-radius: 8px;
}
.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
padding-top: 6px;
}
.item-icon-left {
padding-left: 44px;
}
.item-icon-left .icon {
left: 10px;
}
.item-icon-left .icon{
font-size:25px;
top: -1px;
}
.close{
float:right;
margin-top: -18px;
}
.close i{
font-size: 28px;

}
.pulse1 {
position: absolute;
width: 100px;
height: 100px;
margin: auto;
top: 20px; left: 0; bottom: 0; right: 0;
z-index: 1111;
opacity: 0;
border: 3px solid rgba(255,255,255,.1);
-webkit-animation: pulsejg1 4s linear infinite;
-moz-animation: pulsejg1 4s linear infinite;
animation: pulsejg1 4s linear infinite;
-webkit-border-radius: 999px;
-moz-border-radius: 999px;
border-radius: 999px;
-webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .6);
-moz-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .6);
box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .6);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.pulse2 {
position: absolute;
width: 100px;
height: 100px;
margin: auto;
top: 20px; left: 0; bottom: 0; right: 0;
z-index: 111111;
opacity: 0;
border: 1px solid rgba(255,255,255,0);
-webkit-animation: pulsejg2 4s linear infinite;
-moz-animation: pulsejg2 4s linear infinite;
animation: pulsejg2 4s linear infinite;
-webkit-border-radius: 999px;
-moz-border-radius: 999px;
border-radius: 999px;
-webkit-box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, .8);
-moz-box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, .8);
box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, .8);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
@-webkit-keyframes pulsejg1 {
0% {
-webkit-transform: scale(.6);
opacity: 0;
}
50% {
-webkit-transform: scale(.6);
opacity: 0;
}
60% {
-webkit-transform: scale(.9);
opacity: .2;
}
70% {
-webkit-transform: scale(1.1);
opacity: .35;
}
80% {
-webkit-transform: scale(1.25);
opacity: .2;
}
100% {
-webkit-transform: scale(1.4);
opacity: 0;
}
}
@-moz-keyframes pulsejg1 {
0% {
-moz-transform: scale(.6);
opacity: 0;
}
50% {
-moz-transform: scale(.6);
opacity: 0;
}
60% {
-moz-transform: scale(.9);
opacity: .2;
}
70% {
-moz-transform: scale(1.1);
opacity: .35;
}
80% {
-moz-transform: scale(1.25);
opacity: .2;
}
100% {
-moz-transform: scale(1.4);
opacity: 0;
}
}
@keyframes pulsejg1 {
0% {
transform: scale(.6);
opacity: 0;
}
50% {
transform: scale(.6);
opacity: 0;
}
60% {
transform: scale(.9);
opacity: .1;
}
70% {
transform: scale(1.1);
opacity: .25;
}
80% {
transform: scale(1.25);
opacity: .1;
}
100% {
transform: scale(1.4);
opacity: 0;
}
}
@-webkit-keyframes pulsejg2 {
0% {
-webkit-transform: scale(.6);
opacity: 0;
}
40% {
-webkit-transform: scale(.8);
opacity: .05;
}
50% {
-webkit-transform: scale(1);
opacity: .1;
}
60% {
-webkit-transform: scale(1.1);
opacity: .3;
}
80% {
-webkit-transform: scale(1.2);
opacity: .1;
}
100% {
-webkit-transform: scale(1.3);
opacity: 0;
}
}
@-moz-keyframes pulsejg2 {
0% {
-moz-transform: scale(.6);
opacity: 0;
}
40% {
-moz-transform: scale(.8);
opacity: .05;
}
50% {
-moz-transform: scale(1);
opacity: .1;
}
60% {
-moz-transform: scale(1.1);
opacity: .3;
}
80% {
-moz-transform: scale(1.2);
opacity: .1;
}
100% {
-moz-transform: scale(1.3);
opacity: 0;
}
}
@keyframes pulsejg2 {
0% {
transform: scale(.6);
opacity: 0;
}
40% {
transform: scale(.8);
opacity: .05;
}
50% {
transform: scale(1);
opacity: .1;
}
60% {
transform: scale(1.1);
opacity: .3;
}
80% {
transform: scale(1.2);
opacity: .1;
}
100% {
transform: scale(1.3);
opacity: 0;
}
}
.customheader .title{
left: 58px !important;
right: 58px !important;
}
/* logo */
.front .logo{
position: absolute;
width: 20%;
height: 45%;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
thead  {
background-color: #c9c9c9;
}
.hicon{
width: 28px !important;
height: 28px !important;
color: #fff;
font-size: 18px;
border-radius: 50%;
position: absolute;
margin-top: -3px;
text-align: center;
}
.hicon i{
position: absolute;
top: 5px !important;
left: 0;
right: 0;
}
.bowtie{
background-color: #DE6C00;
}
.mic{
background-color: #78A403;
}
.forgot_content{
	text-align: center;
	color:#fff;
	padding:0px 25px;
}
.c-content .slider {
height: 100vh;
background-color: rgba(14, 14, 14, 0.62);
}
.c-content .slider-slide
{
text-align: center;
}
.c-content .slider-slide img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
.c-content ion-slide{
background-color: rgba(0, 0, 0, 0.2) !important;
}
.word_wrap .col40{
white-space: pre-wrap;
}
/* ----------- iPhone 6+ ----------- */
@media only screen
and (max-device-width: 414px)
and (-webkit-min-device-pixel-ratio: 3) {
 .myForm  .button {
    min-height: 44px;
    line-height: 32px;
  }
}
/* ----------- iPhone 6 ----------- */
@media only screen
and (max-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 2)
{
  .myForm  .button {
    min-height: 44px;
    line-height: 32px;
  }
}
/*   iPhone-5   */
@media only screen
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 1.5){
.logo{
width:215px;
}
.myForm {
max-width: 280px;
}
.hero.no-header {
height: 33%;
}
.myForm .btn{
margin: 0px 12px;
padding: 0 !important;
}
.bgheader ,.bar-subheader {
height: 200px;
}
.has-subheader {
top: 200px !important;
}
.faculty{
  position: absolute;
  left: 0;
  right:0;
  bottom: -10px;
  /* font-family: cursive; */
  text-align: left;
  /* color: #e3e3e3; */

  font-weight:400;
  overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 1111;
}
.faculty .heading_name{
  font-size: 1.2rem;
    color:#d74959;
}
.faculty .user{
  padding-top: 7px;
}
.faculty_page .bar-subheader{
  height:240px;
}
.faculty_page .has-subheader{
      top: 250px !important;
}
.fee .item {
  font-size: 13px;
}
.parent {
font-size: 1rem;
margin: 6px -4px!important;
}
.popover {
width: 245px;
}
.smallpop {
width: 250px;
}
.studentimg img {
width: 80px;
height: 80px;
margin-top: 80px;
}
.slogo {
    top: 45px!important;
    width: 160px;
}
.tab-item.active:after {
  top: 15px;
  right: 40px;
}
.wave{
      top: -64%;
}
.pulse1 ,.pulse2{
width:80px;height:80px;    top: 45px;
}
.studentimg span {
font-size: 13px;
}
.slogo {
    top: 30px;
    width: 140px;
  }
  .myForm  .button {
    min-height: 38px;
    line-height: 32px;
  }
  .foot {
    margin-top: 36px;
    font-size: 11px;
  }
}
.side_menu
{
	box-shadow: 0px 0px 0px transparent !important;
	color: #fff !important;
	padding: 0px !important;
}
.side_menu:before
{
	font-size: 26px !important;
}
.tab_img img{
    width: 18px;
    margin-top: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.menu_list img
{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.tab_img p
{
	font-size: 10px !important;
	text-transform: uppercase;
  font-weight: 800;

}
.left_arrow i
{
	font-size: 20px !important;
padding: 15px 6px;
color: #ffffff;
}
.menu-open .back-button
{
	display: none !important;
}
.tab-item.active p{
	color: #4B14C9 !important;
text-transform: uppercase;
}
.tab-item.active img, .menu_list .active img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.menu_list .active{
	color: #4B14C9 !important;
	font-weight: 400;
}
.menu_list .item {
    border-bottom: 1px solid rgba(140,138,236,0.2);
    text-transform: uppercase;
}
.left_arrow{
	cursor: pointer;
}
.image-modal {
width: 100% !important;
height: 100% !important;
top: 0 !important;
left: 0 !important;
background: black !important;
}
.transparent {
  background: rgba(0,0,0,0.7);
}
.transparent-2 {
  background: var(--color-4)!important;
}
.slider {
    width: 100%;
    height: 100%;
}
.zoom-pane .image,.image-modal ion-slide {
	 background-color: #000 !important;
}
.image-modal .scroll-view {
    display: initial !important;
    }
.image {
    width: 100%;
       height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
    @-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.backdrop {

  background-color: rgba(0,0,0,0.7) !important;
}
 .close{
      color: #fff;
      font-size: 38px;
      position: absolute;
      right: 7px;
      width: 28px;
      height: 36px;
      top: 20px;
      text-align: center;
      z-index: 9999;
    }
    .zoom-pane {
	width: 100% !important;
	height: 100% !important;
}
.zoom-pane .scroll {
	min-height: 100% !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.zoom-pane img {
	width: 100% !important;
	vertical-align: middle !important;
}
.scroll-view.scroll-xy.zoom-pane {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.item-icon-left .item-toggle {
	padding-left: 1px;
}
.smallpop .overflow-scroll {
    overflow-x: hidden;
    overflow-y: hidden !important;
}
.error-message
	{
		color:#e40404;
	}
