<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">UserGuide</h1>
    <div class="buttons" ion-ripple >
      <button class="button button-clear" ng-click="close()"><i  class="icon ion-android-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content id="rm">
   <div class="list">
    <div class="item item-body">
        <p class="about">Welcome Parent,</p>
        <p class="about">You can now monitor the progress of your child at the touch of a button.
          <p class="about"><strong>Announcements </strong>To view any recent announcements regarding school festivals, news about the student/school etc.</p>
          <div class="about ">Now tap the Arrow (>) to view information about attendance, calendar, communication, student's homework, absent notice, fee details of your child. </div>
          <!-- <p class="about" ng-if="menu2"><strong>Attendance </strong>To monitor and calculate the daily/monthly attendance percentage of your ward. You can view the details of a particular month by taping the chart.</p>
        <p class="about" ng-if="menu3"><strong>Homework </strong>Now Parents can have clarity on homework/assignments given to their ward(s) and ensure they complete and submit homework/assignments on or before the submission dates.</p>
        <p class="about" ng-if="menu4"><strong>Communication </strong>Click on the icon and view information from school regarding the activities to be done at home by your child and their submission dates.</p>
        <p class="about" ng-if="menu5"><strong>Calendar </strong>Tap ' calendar ' and the coloured dates  for information about happenings of the month.</p>
        <p class="about" ng-if="menu6"><strong>Absent Notice, </strong>You can now request or apply for leave of absence for your ward in advance or in case the child falls sick in the morning, or for any unforeseen circumstances using the Miracle Hands.Just tap the calendar and select the dates to send the request mentioning the reason.</p>
        <p class="about" ng-if="menu7"><strong>Fee Details </strong>Parents can now view fee particulars for the term/year. You will also get notification regarding due dates and remainders in case of non payment.</p> -->
      </div>
    </div>
  </ion-content>
</ion-modal-view>
