﻿<ion-view cache-view="false" container class="container">

<ion-header-bar class="bar-subheader">
  <div class="bgheader"> <div class="slogo" class="avatar center motion spin fade"><img ng-src="{{image}}" ></div>
</div>
   <h4 class="no-border no-padding-bottom padding parent" >Hi, Welcome <span  class="user">to Miracle Hands</span>  </h4>

</ion-header-bar>
<ion-content id="rm">

<div class="im-wrapper">
  <!-- <span class="hicon bowtie"><i class="icon ion-university"></i></span> <strong class="color" ng-if="StudentList.length > 1">YOUR KIDS</strong><strong class="color" ng-if="StudentList.length == 1">YOUR KID</strong> -->
</div>
<ion-list>
<div ion-ripple >
  <ion-item   class="item-icon-right item-avatar" ng-click="studentdetails(student_list)" ng-repeat=" student_list in StudentList">


 <img ng-src="img/placeholder_boy.png" ng-if="student_list.DMPhoto == null"  class="stud-img">
 <img ng-src="{{schoolurl}}/{{student_list.DMPhoto}}" class="stud-img"  ng-if="student_list.DMPhoto != null">

      <h2 class="upper"><span ng-bind="student_list.StudentName"></span></h2>
      <p><span ng-bind="student_list.Class"></span><span ng-if="student_list.Section"> - </span><span ng-bind="student_list.Section" ng-if="student_list.Section"></span></p>
      <p><span ng-bind="student_list.StudentId"></span></p>
      <i class="icon ion-chevron-right icon-accessory animated infinite tada"></i>
  </ion-item>
  <ion-item ng-show="!StudentList"  class="item-icon-right item-avatar">
<h2 class="upper"><span>loading ...</span></h2>
</ion-item>
</div>

</ion-list>
<div class="border-top im-wrapper">
  <span class="hicon mic"><i class="icon ion-speakerphone"></i></span> <strong class="color">ANNOUNCEMENTS</strong>
</div>
<div ng-repeat="a in AnnouncementList | orderBy :'-PostedDate'" class=" animated fadeIn">
    <div class="card2" >
        <div class="item item-body" style="border-left:4px solid {{colors[$index]}};" >
            <div class="a-title bold"><span ng-bind="a.announcementname"></span>-<span ng-bind="a.announcementdate"></span></div>
            <br/>
            <p class="italic" ng-bind="a.announcementdescription" ng-if="a.announcementdescription"></p>
            <div class="submission" style="border:none;">
         <div ng-if="a.PostedDate"><a class="subdued italic" >Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate" ></span></a></div>
        </div>
        </div>
    </div>
</div>
<div class="card light-bg" ng-show="!AnnouncementList.length">
    <div class="item item-body"><div class="a-title "> No announcement for current month </div></div>
</div>

</ion-content>
</ion-view>
