﻿<ion-view cache-view="false" container class="container faculty_page">

<ion-header-bar class="bar-subheader">
  <div class="bgheader"> <div class="slogo" class="avatar center motion spin fade"><img ng-src="{{image}}" ></div>
</div>
<div class="faculty">
   <h4 class="no-border no-padding-bottom padding heading_name" >Hi {{faculty_name}}, </br><div  class="user"> welcome to Miracle Hands</div>  </h4>
</div>
</ion-header-bar>
<ion-content id="rm">
<div class="im-wrapper">
<strong class="heading_2">Leave Acknowledgement <span class="select_posititon">Select All</span></strong>
  <label class="toggle pull-right toggle_small">
   <input type="checkbox"  ng-model="selectedAll" ng-click="checkAll()" ng-disabled="!StudentList.length" >
   <div class="track">
     <div class="handle"></div>
   </div>
</label>

</div>

<ion-list ion-card ion-ripple ng-repeat="s in StudentList  | orderBy :'-updated_at'"    class="card2" ng-class="{ active: StudentList.selected }">

<div >

    <ion-item   class=" item-remove-animate item-icon-right item-avatar">
      <div class="item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="s.Selected" class="pull-right" ng-click="multicheck(s)" ng-disabled="selectedAll">
           </label>
<div class="letter_icon_left" style="background-color: {{colors[$index]}};">{{s.StuFirstName.charAt(0)}}</div>
         <h2 style="text-transform: capitalize;">{{s.student_name}}<span></span> <span></span></h2>
         <p>{{s.section}} - {{s.classType}}</p>
       </div>
    </ion-item>
    <ion-item class="item-body ">
      <p class="item-text-wrap">{{s.LeaveReson}}
      </p>
      <hr>
        <p class="">
      <a href="#" class="subdued"><span><b>From:</b></span> {{s.FromDate | date:'dd-MM-yyyy'}}</a>
      <a href="#" class="subdued"><span><b>To:</b></span> {{s.ToDate | date:'dd-MM-yyyy'}}</a>
    </p>
    </ion-item>
</div>

</ion-list>
<ion-list ion-card ng-show="!StudentList.length"  class="card2 padding light-bg" >
  No Records Found
</ion-list>
</ion-content>
<ion-footer-bar class="">

  <button class="button  button_small_right " ng-click="submit()" ng-disabled="countChecked() == 0">
    Submit
  </button>

</ion-footer-bar>
</ion-view>
