<ion-modal-view view-title=" " has-header="false" hide-nav-bar="true" padding="true"  class="blurbg"    cache-view="false">
 <div class="circle1"></div>
 <div class="circle2"></div>
<ion-content class="login" scroll="false">
<div class="hero no-header flat">
    <div class="content">
        <div class="app-icon">
            <img src="img/mh-logo.png" class="logo" />
        </div>
    </div>
</div>
 <form  class="myForm" name="myForm">
    <div ng-show="step1">
    <div class="im-wrapper">
        <div class="forgot_content">Please enter your Login ID to get forgot password </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label label">Login ID</span>
                <input type="text" placeholder="Login ID" class="nbor" ng-model="resetId" required autocomplete="off" ng-minlength="2">
            </label>
            <i class="ion-ios-close-empty clearvalue" ng-click="clean()" ng-show="resetId"></i>
        </div>

   <div class="center padding-top">
    <button ion-ripple class="button button-outline button-royal" ng-click="resetpwd(resetId)"  type="button">SUBMIT</button>
    <button type="reset" ion-ripple class="button button-outline button-royal"  ng-click="close();clean()">CANCEL</button>
  </div>
  </div>
</div>
<div ng-show="step2">
    <div class="im-wrapper">
        <div class="forgot_content">
            <span ng-bind="keycontent"><span>
        </div>
        <div class="list center">
          <input type="text" class="nbor input-block" ng-model="key1" required autocomplete="off"  maxlength="1" move-next-on-maxlength>
          <input type="text" class="nbor input-block" ng-model="key2" required autocomplete="off"  maxlength="1" move-next-on-maxlength>
          <input type="text" class="nbor input-block" ng-model="key3" required autocomplete="off"  maxlength="1" move-next-on-maxlength>
          <input type="text" class="nbor input-block" ng-model="key4" required autocomplete="off"  maxlength="1" move-next-on-maxlength>
        </div>

    <div class="center padding">
    <button ion-ripple class="button button-outline button-royal" ng-click="verify(key1,key2,key3,key4)" type="button">Verify</button>
    <button type="reset" ion-ripple class="button button-outline button-royal" ng-click="close();clean()">CANCEL</button>
  </div>
   </div>
</div>
<div ng-show="step3">
    <div class="im-wrapper">
        <div class="forgot_content">
            <span ng-bind="keycontent"><span>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label" >
            <span class="input-label label">New Password</span>
            <input type="{{inputType1}}" placeholder="New Password" name="newpassword" class="nbor" ng-model="newpassword" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" required  />

        </label>
          <div class="padding-left padding-right">
        <span class="error-message" ng-show="myForm.newpassword.$error.required && myForm.newpassword.$dirty">Please enter your password</span>
        <span class="error-message "  style="white-space:normal"  ng-show="!myForm.newpassword.$error.required && (myForm.newpassword.$error.minlength || myForm.newpassword.$error.maxlength) && myForm.newpassword.$dirty">Password must be between 8 to 20 characters.</span>
        <span class="error-message " style="white-space:normal" ng-show="!myForm.newpassword.$error.required && !myForm.newpassword.$error.minlength && !myForm.newpassword.$error.maxlength && myForm.newpassword.$error.pattern && myForm.newpassword.$dirty">Must contain one lower & uppercase letter, number and special character</span>
      </div>
      <label class="item item-input item-floating-label" >
            <span class="input-label label">Confirm Password</span>
            <input type="{{inputType1}}" placeholder="Confirm Password" class="nbor" name="confirmpassword" ng-model="confirmpassword" valid-confirmpassword required  />
      </label>
        <div class="padding-left padding-right">
        <span class="error-message" ng-if="newpassword !== confirmpassword">
        Password doesn't match
       </span>
            <span class="error-message" ng-show="myForm.confirmpassword.$error.required && myForm.confirmpassword.$dirty">Please enter your confirm password.</span>
            <span class="error-message" ng-show="!myForm.confirmpassword.$error.required && myForm.confirmpassword.$error.noMatch && myForm.password.$dirty">Password doesn't match.</span>
</div>
        </div>
        <div class="center ">
   <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
  <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
</div>
   <div class="center padding">
     <button ion-ripple type="button" class="button button-outline button-full button-royal" ng-click="change(newpassword,confirmpassword);clean()">SUBMIT</button>
  </div>
    </div>
</div>
</form >
</ion-content>
</ion-modal-view>
