<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
   <ion-nav-bar class="background-transparent">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button ion-ripple class="button button-icon button-clear ion-android-notifications" id="menu-popover" ng-click="clear(NCount); popover.show($event)"></button>
        <button ion-ripple class="button button-icon button-clear ion-android-more-vertical " id="menu-popover" ng-click="popover1.show($event) "></button>
        <div><p ng-class="{lrcount: NCount > 0}" ng-hide=" NCount == 0">{{count()}}</p></div>
        </ion-nav-buttons>
    </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
     <ion-side-menu side="left">
        <ion-content>
          <ion-list class="menu_list">
            <ion-item menu-close  ng-repeat="menu in AppMenu"  ng-class="{active : activeMenu === menu.MenuKey}"
            ng-click="setActive(menu,$index,AppMenu.length)">
            <img ng-src="img/{{menu.MenuKey}}_icon1.png"/ style="float: left;margin-right: 10px;">
              {{menu.MenuKey}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
</ion-side-menus>
