﻿<ion-view scroll-sista="header" cache-view="false">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon side_menu"></button>
</ion-nav-buttons>
<ion-header-bar class="bar-subheader">
<div class="bgheader"></div>
<div class="pulse1"></div>
<div class="pulse2"></div>
<div  class="center studentimg">
  <div class="">
  <img ion-ripple ng-src="{{image}}" ng-click="$ionicGoBack();" >
</div>
<h2 class="upper"><span ng-bind="fullname"></span></h2>
</div>
</ion-header-bar>
<ion-content scroll="false" has-bouncing="false" class="has-header has-subheader">
<div class = "tabs tabs-icon-top fade-in-not-out gradient-border" ng-show="activeTabMenus" >
   <a class = "tab-item tab_img"  ng-repeat="menu in AppMenu " ng-class="{active : activeMenu === menu.MenuKey}"
   ng-show="$index < {{AppMenu.length / 2}}" ng-click="setActive(menu,$index,AppMenu.length)" >
      <img ng-src="img/{{menu.MenuKey}}_icon1.png" />
      <p>{{menu.MenuKey}}</p>
   </a>
   <div class="left_arrow" ng-click="changetab()">
  <i class="ion ion-ios-arrow-right"></i>
   </div>

 </div>
 <div class = "tabs tabs-icon-top gradient-border" ng-hide="activeTabMenus">
 <div class="left_arrow" ng-click="changetab()" >
  <i class="ion ion-ios-arrow-left"></i>
  </div>
   <a class = "tab-item tab_img"   ng-repeat="menu in AppMenu " ng-class="{active : activeMenu === menu.MenuKey}"
   ng-hide="$index < {{AppMenu.length / 2}}" ng-click="setActive(menu,$index,AppMenu.length)" >
      <img ng-src="img/{{menu.MenuKey}}_icon1.png" />
      <p>{{menu.MenuKey}}</p>
   </a>
</div>
</ion-content>

<ion-content scroll="true" has-bouncing="false" class="background-color-2  has-header has-subheader" delegate-handle="main">
<div class="custom-height"></div>
<div ng-switch="activeMenu" class="tab_animation">
<div class="album no-animate" ng-switch-when="album">
  <div ng-repeat="a in album" class="card1 ">
              <div class="item item-body">
                <div class="mb">
                  <div class="a-title1 bold " ng-bind="a.Title"></div>
                </div>
                <hr class="style-two">
               <span class="mb" ng-repeat="h in a.DMAlbumImg" >
                  <img ng-src="{{uploadimg}}/{{h.ImageFile}}" class="full-image" style="float-left;height:100%;{{imagewidth(a.DMAlbumImg.length)}}"  ng-click="openImageModal(a.DMAlbumImg,{{$index}})" /> <!-- ng-click="showImages($index)" -->
                </span>
                <div class="mb">
                  <div class="italic " ng-bind="a.Description"></div>
                </div>
                <div class="submission">
                  <div><a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate"></span></a></div>
                </div>
              </div>
            </div>
          <button type="button" class="button button-block mdl-js-button mdl-js-ripple-effect" ng-click="load()">Load More</button>
          <div class="card1" ng-show="album.length == 0">
            <div class="item-body">
            <div class="no-event-label"><div><strong>No Records Found</strong></div></div>
          </div>
          </div>
</div>
<div class="attendance no-animate " ng-switch-when="attendance" >
  <div class="item item-text-wrap attendance" ng-show="!labels.length== ''">
              <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}" colours="[  { fillColor: '#0e2cff' }, { fillColor: '#97928f' },{ fillColor: '#ffffff' }]"></canvas>
            </div>
            <div id="tryme" ng-show="!labels.length== ''"><span>Touch Chart to View </span></div>
            <div class="card1" ng-show="labels.length== ''">
              <div class="no-event-label"> <div><strong>No Records Found</strong> </div> </div>
            </div>
</div>
<div class="homework no-animate" ng-switch-when="homework" >
<div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="hwdate" placeholder="Search" ng-init"gethomework(hwdate)"/>
  </label>
  <button class="button button-small go" ng-click="gethomework(hwdate)">
    SEARCH
  </button>
</div>
<div  class="pane transparent-2" style="height:auto" >
<div ng-repeat="h in homework | orderBy :'DateToCompleteWork'" class="card1 ">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Subject&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="h.Subject"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="h.Title "></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="h.Description" class="italic"></div>
    </div>
    <div class="file" ng-if="h.File">
      <span ng-click="opendoc('{{hwuploadfile+'/'+h.DMFile}}')"><i class="icon ion-document"></i><span ng-bind="h.File | myFormat" class="{{selectcss(h.File)}}"></span></span>
    </div>
    <div class="submission">
      <div><a class="subdued italic">Date of Submission&nbsp;:&nbsp; <span class="ng-binding" ng-bind="h.DateToCompleteWork"></span></a></div>
    </div>
  </div>
</div>
<div class="card1" ng-show="homework.length == 0">
  <div class="no-event-label"><div><strong>No Records Found</strong></div></div>
</div>
</div>
</div>
<div class="communication no-animate" ng-switch-when="communication">
 <div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="cdate" placeholder="Search" ng-init="getcommunication(cdate)"/>
  </label>
  <button class="button button-small go" ng-click="getcommunication(cdate)">
    SEARCH
  </button>
</div>
<div  class="pane transparent-2" style="height:auto" >
<div ng-repeat="c in communication  | orderBy :'-AnnouncementDate'" class="card1 ">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="c.Title"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="c.Description" class="italic"></div>
    </div>
    <div class="file" ng-if="c.File">
      <span ng-click="opendoc('{{uploadfile+'/'+c.DMFile}}')"><i class="icon ion-document"></i><span ng-bind="c.File | myFormat" class="{{selectcss(c.File)}}"></span></span>
    </div>
    <div class="submission1">
      <a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="c.PostedDate"></span></a>
    </div>
  </div>
</div>
<div class="card1" ng-show="communication.length == 0">
  <div class="no-event-label"><div><strong>No Records Found</strong></div></div>
</div>
</div>
</div>
<div class="calendar no-animate" ng-switch-when="calendar" ng-init="loadEvents()">
  <div  class="pane transparent-2" style="height:auto" >
<calendar ng-model="currentDate" event-source="eventSource" ng-load="loadEvents" event-selected="onEventSelected(event)"
time-selected="onTimeSelected(selectedTime)">
</calendar>
</div>
</div>
<div class="leave no-animate " ng-switch-when="absent notice">
  <div  class="pane transparent-2" style="height:auto" >
<div class="list">
  <div style="padding-top:7%"></div>
  <label class="item item-input">
    <span class="input-label">Reason <span class="mandatory">*</span></span>
    :&nbsp;<input type="text" placeholder="Enter Reason" required ng-model="reason" maxlength="150" class="pl2">
  </label>
  <label class="item item-input">
    <span class="input-label">From date <span class="mandatory">*</span></span>
    :&nbsp;<input type="date" placeholder="From Date" ng-model="fromdate" required>
  </label>
  <label class="item item-input">
    <span class="input-label">To date <span class="mandatory">*</span></span>
    :&nbsp;<input type="date" placeholder="To Date" min="{{fromdate | date:'yyyy-MM-dd'}}" ng-model="todate" required>
  </label>
  <div class="center padding">
    <button ion-ripple class="button button-small icon-left ion-ios-paperplane-outline button-calm" ng-disable="!reason" ng-click="leaveapply(reason,fromdate,todate)"  type="button">SEND</button>
    <button type="reset" ion-ripple class="button button-small icon-right ion-trash-a grey "  ng-click="clearfields()">CLEAR</button>
  </div>
</div>
<div class="border">
  <div class="button-bar">
    <a ion-ripple ng-click="status = !status" class="item button status" ng-click="term()" ng-class="termfee ?'tab-active':'tab-deactive'">
      {{status  &&  'Click to hide status' || 'Click to view status'}}
    </a>
  </div>
  <div ng-show="status" class=" ">
    <div class="row header item padding">
      <div class="col"><strong>Date</strong> </div>
      <div class="col col-33"><strong>Reason</strong> </div>
      <div class="col"><strong>Status</strong> </div>
    </div>
    <div  ng-repeat="l in leaverequestlist | orderBy: '-l.tdate'" ng-click="leaveview(l)" class="row item padding">
      <div class="col item-text-wrap"><p class="font13" ng-bind="l.fdate+' - '+l.tdate"></p></div>
      <div class="col col-33 item-text-wrap"><p class="font13" ng-bind="l.reason" title="{{l.reason}}"></p></div>
      <div ng-bind="l.status" class="col font13 " ng-class="{'color-red': l.status === 'declined', 'color-blue': l.status === 'pending', 'color-green': l.status === 'acknowledged'}"></div>
    </div>
  </div>
</div>
</div>
</div>
<div class="fee no-animate" ng-switch-when="fee">
 <div class="pane transparent-2" style="height:auto" >
<div class="Card" ng-show="fee">
  <div class="button-bar">
    <a ion-ripple class="item item-icon-left button" ng-click="term();termfee = !termfee" ng-class="termfee ?'tab-active':'tab-deactive'">
      Term Fee
    </a>
  </div>
  <div class = ""  ng-show="termfee">
    <div class="row header item padding-bottom padding-right">
      <div class="col col-33"><strong>Fee Category</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Amount (LKR)</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Tax (LKR)</strong></div>
      <div class="col col-33"><strong>Due Status</strong></div>
    </div>
    <div class="row item padding-bottom padding-right word_wrap" ng-repeat="f in fee | filter:'Term'" ng-hide="f.Amount == 0">
      <div class="col col-33 item-text-wrap font13" ng-bind="f.FeeCategoryName "></div>
      <div class="col col-20 font13" ng-bind="f.Amount | number:2"></div>
      <div class="col col-20 font13"  ng-bind="f.Tax | number:2"></div>
      <div class="col col-33 color-red font14" ng-bind="f.LastDate" ng-class="{'color-green': f.LastDate === 'Paid', 'color-red-blink': f.LastDate === todayDate}"></div>
    </div>
  </div>
</div>
<div class="Card" ng-show="fee">
  <div class="button-bar">
    <a ion-ripple class="item item-icon-left button" ng-click="annual();annualfee = !annualfee" ng-class=" annualfee ?'tab-active':'tab-deactive'">
    Annual Fee
    </a>
  </div>
  <div class ="" ng-show="annualfee">
    <div class="row header item padding-bottom padding-right" >
      <div class="col col-33"><strong>Fee Category</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Amount (LKR)</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Tax (LKR)</strong></div>
      <div class="col col-33"><strong>Due Status</strong></div>
    </div>
    <div class="row item padding-bottom padding-right word_wrap" ng-repeat="f in fee | filter:'Annual'" ng-hide="f.Amount == 0">
      <div class="col col-33 item-text-wrap font13" ng-bind="f.FeeCategoryName "></div>
      <div class="col col-20 font13" ng-bind="f.Amount | number:2"></div>
      <div class="col col-20 font13"  ng-bind="f.Tax | number:2"></div>
      <div class="col col-33 font14 color-red" ng-bind="f.LastDate" ng-class="{'color-green': f.LastDate === 'Paid', 'color-red-blink': f.LastDate === todayDate }"></div>
    </div>
  </div>
</div>
<div class="Card" ng-show="fee">
  <div class="button-bar">
    <a ion-ripple class="item item-icon-left button" ng-click="oneTime();oneTimefee = !oneTimefee" ng-class=" oneTimefee ?'tab-active':'tab-deactive'">
   One Time Fee
    </a>
  </div>
  <div class ="" ng-show="oneTimefee">
    <div class="row header item padding-bottom padding-right" >
      <div class="col col-33"><strong>Fee Category</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Amount (LKR)</strong></div>
      <div class="col col-20 item-text-wrap"><strong>Tax (LKR)</strong></div>
      <div class="col col-33"><strong>Due Status</strong></div>
    </div>
    <div class="row item padding-bottom padding-right word_wrap" ng-repeat="f in fee | filter:'OneTime'" ng-if="f.feesCategoryFor == null" ng-hide="f.Amount == 0">
      <div class="col col-33 item-text-wrap font13"  ng-bind="f.FeeCategoryName"></div>
      <div class="col col-20 font13" ng-bind="f.Amount | number:2"></div>
      <div class="col col-20 font13"  ng-bind="f.Tax | number:2"></div>
      <div class="col col-33 font14 color-red" ng-bind="f.LastDate" ng-class="{'color-green': f.LastDate === 'Paid', 'color-red-blink': f.LastDate === todayDate}"><i class="icon ion-ios-checkmark-outline"></i></div>
    </div>
  </div>
</div>
<div class="card1" ng-show="!fee">
  <div class="no-event-label"><div><strong>No Records Found</strong></div></div>
</div>
</div>
</div>
<div class="article no-animate" ng-switch-when="article">
  <div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="date" ng-model="articledate" placeholder="Search" />
  </label>
  <button class="button button-small go" ng-click="getarticle(articledate)">
    SEARCH
  </button>
</div>
<div direction="y" class="pane transparent-2" style="height:auto" >
<div ng-repeat="a in article" class="card1 ">
  <div class="item item-body">
    <div class="mb">
      <div class="a-title bold blocks">Title&nbsp;:</div>&nbsp;<div class="blocks" ng-bind="a.Title"></div>
    </div>
    <div class="mb">
      <div class="a-title bold blocks">Description&nbsp;:</div>&nbsp;<div class="italic blocks" ng-bind="a.Description" class="italic"></div>
    </div>
    <div class="submission">
      <div><a class="subdued italic">Posted On&nbsp;:&nbsp; <span class="ng-binding" ng-bind="a.PostedDate"></span></a></div>
    </div>
  </div>
</div>
<div class="card1" ng-show="article.length == 0">
  <div class="no-event-label"><div><strong>No Records Found</strong></div></div>
</div>
</div>
</div>
</div>
</ion-content>

</ion-view>
